@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

/* Base Font */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #f9fafb;
  color: #111827;
}

/* Links */

/* Buttons */
button {
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}
button:active {
  transform: scale(0.97);
}
/* Hide scrollbar but allow scrolling */
nav::-webkit-scrollbar {
  width: 4px;
}
nav::-webkit-scrollbar-track {
  background: transparent;
}
nav::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 2px;
}
